<div class="center hero-unit">

  <h1>Welcome to Voutche</h1>
  <p>Voutche is a security app for social media.</p>	

<%=	link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
